{% extends "base.html" %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 500px;
            margin: 0 auto;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
        }
        label {
            display: block;
            margin-bottom: 8px;
        }
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .submit-button {
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }
        .submit-button:hover {
            background-color: #218838;
        }
        
    </style>

    <div class="container">
        <h2>Add food</h2>
        <form action="/" method="POST">
            <label for="food-name">{{ template_form.food_name.label }}</label>
            {{template_form.food_name()}}

            <label for="quantity">{{ template_form.quantity.label }}</label>
            {{template_form.quantity()}}

            <label for="calories">{{ template_form.calories.label }}</label>
            {{ template_form.calories() }}

            <label for="carbs">{{ template_form.carbs.label }}</label>
            {{ template_form.carbs() }}

            <label for="protein">{{ template_form.protein.label }}</label>
            {{ template_form.protein() }}

            <label for="fats">{{ template_form.fats.label }}</label>
            {{ template_form.fats() }}

            <label for="date">{{ template_form.date.label }}</label>
            {{ template_form.date() }}

            {{ template_form.submit() }}
        </form>
    </div>

{% endblock %}