<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodtracker</title>
</head>
<body>
    <!-- Fixed Banner -->
    <div class="banner">
        <h1>FoodTracker</h1>
        <button onclick="location.href='index.html'">Home</button>
        <button onclick="location.href='add_food.html'">Add Food Item</button>
    </div>

    <!-- Main Content -->
    <div class="content">
        <h1>Welcome to FoodTracker!</h1>
        <p>Track your meals easily and efficiently.</p>
    </div>
    {% block content %}
    {% endblock %}
    
</body>
</html>